.menuContainer {
    width: 100%;
    padding: 5%;
}

.menuContainer h1 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 2rem;
}

.menuContainer h2 {
    font-size: 1.6rem;
    margin: 4rem 0 2rem;
}

.cardsContainer {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(2, 1fr);
}

@media (max-width: 950px) {
    .cardsContainer {
        grid-template-columns: 1fr;
    }
}
