.menuContainer {
    width: 100%;
    padding: 2rem 5%;
}

.menuContainer h1 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 2rem;
    color: #222;
}

.menuContainer h2 {
    font-size: 1.6rem;
    margin: 4rem 0 2rem;
    color: #222;
}

.cardsContainer {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(2, 1fr);
}
