.modalFade {
    width: 100%;
    min-height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal {
    width: 500px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--white);
    padding: 1rem;
    border-radius: 0.4rem;
}

.modal h2 {
    text-align: center;
    font-size: 1.6rem;
}

.itemsContainer {
    overflow-y: scroll;
    max-height: 40vh;
    margin-bottom: 1rem;
    scrollbar-width: thin; 
    scrollbar-color: var(--gray) var(--white); 
}

.item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.6rem 0;
    border-bottom: 0.1rem solid var(--gray);
}

.textContainer {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
}

.item h3 {
    font-size: 1rem;
    font-weight: bold;
    color: #222;
}

.quantityItem {
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 0.1rem solid var(--gray);
    border-radius: 0.2rem;
}

.quantityItem button {
    color: var(--gray);
    font-size: 1rem;
    font-weight: bold;
    padding: 0.2rem 0.4rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.quantityItem span {
    font-weight: bold;
    font-size: 0.8rem;
}

.item strong {
    font-size: 1rem;
}

.removeBtn {
    border: none;
    background-color: transparent;
    padding: 0.6rem;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.2s;

    &:hover {
        color: var(--gray);
    }
}

.inputContainer {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.inputContainer label,
.label {
    font-weight: bold;
    font-size: 0.8rem;
    margin-bottom: 0.4rem;
}

.addressContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.6rem;
    margin-bottom: 1rem;
}

.inputContainer input,
.addressContainer input {
    width: 100%;
    padding: 0.4rem;
    outline: none;
    border: 0.1rem solid var(--gray);
    border-radius: 0.2rem;
}

.flexContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.closeBtn,
.finalizeOrderBtn {
    padding: 0.6rem 0.8rem;
    border: none;
    border-radius: 0.2rem;
    font-weight: bold;
    color: var(--gray);
    background-color: transparent;
    cursor: pointer;
    transition: 0.2s;
}

.finalizeOrderBtn {
    background-color: var(--green);
    color: var(--white);

    &:hover {
        background-color: var(--green-hover);
    }
}

.emptyCart {
    text-align: center;
    font-weight: bold;
    color: var(--gray);
    margin-top: 1rem;
}

.emptyCartImg {
    display: block;
    margin: 0 auto;
    height: 30vh;
}

.error {
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 0.8rem;
    background-color: var(--light-red);
    color: var(--red);
    border-radius: 0.2rem;
    padding: 0.8rem;
    margin-bottom: 0.8rem;
}

.whatsappMsg {
    width: 100%;
    text-align: justify;
    font-weight: bold;
    font-size: 0.8rem;
    color: var(--gray);
    margin-top: 1rem;
}

@media (max-width: 600px) {
    .modal {
        width: 90%;
    }
}
