@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

/* :root {
    --body-bg: #f6f7f8;
    --black: #222;
    --black-hover: #666;
    --white: #fff;
    --green: #008000;
    --light-green: #d4edda;
    --green-hover: hsl(120, 60%, 25%);
    --red: #dc143c;
    --light-red: #f8d7da;
    --gray: #999;
    --main-color: #a52a2a;
    --text-color: #2a2a2a;
} */

* {
    font-family: "Montserrat", serif;
}

html, body {
    scroll-behavior: smooth;
}
