@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
    --body-bg: #f6f7f8;
    --black: #222;
    --black-hover: #666;
    --white: #fff;
    --green: #008000;
    --light-green: #d4edda;
    --green-hover: hsl(120, 60%, 25%);
    --red: #dc143c;
    --light-red: #f8d7da;
    --gray: #999;
    --main-color: #a52a2a;
    --text-color: #2a2a2a;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", serif;
}

html,
body {
    background: var(--body-bg);
    color: var(--black);
    font-size: 16px;
}

a {
    text-decoration: none;
    color: inherit;
}

.btn {
    width: fit-content;;
    background: var(--main-color);
    display: grid;
    place-items: center;
    padding: 1rem 1.2rem;
    color: #fff;
    border-radius: 0.4rem;
    font-weight: 600;
    font-size: 0.9rem;
    transition: 0.3s;
    cursor: pointer;
}

.btn:hover {
    filter: brightness(0.8);
}

.btn-outline {
    background: transparent;
    border: 0.15rem solid var(--main-color);
    color: var(--main-color);
}

.btn-outline:hover {
    background-color: var(--main-color);
    color: #fff;
}

.btn-light {
    background-color: #fff;
    color: var(--main-color);
}

.logo {
    font-size: 1.6rem;
    font-weight: bold;
    text-decoration: none;
    color: var(--black);
}

header {
    position: fixed;
    inset: 0 0 auto 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 5%;
    background: #fff;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
    z-index: 999;
}

header nav {
    display: flex;
    gap: 2rem;
}

header nav a {
    font-weight: 600;
    color: var(--text-color);
    transition: 0.2s;
}

header nav a:hover {
    color: var(--main-color);
}

.hero-wrapper {
    background: linear-gradient(to bottom, var(--body-bg), #a52a2a40);
    padding-top: 5%;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
}

.hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 60px;
    max-width: 1100px;
    margin: 0 auto;
    padding: 5% 2rem;
}

.hero h1 {
    font-size: 2.4rem;
    line-height: 1.1;
    margin-bottom: 1rem;
}

.hero p {
    font-size: 0.9rem;
    color: var(--text-color);
    margin-bottom: 1rem;
}

.hero img {
    border-radius: 1rem;
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.4);
}

.hero-buttons {
    display: flex;
    gap: 1rem;
    margin-bottom: 2rem;
}

.hero-stats {
    display: flex;
    gap: 2.5rem;
}

.hero-stats li {
    display: flex;
    flex-direction: column;
    font-size: 0.9rem;
    color: var(--text-color);
}

.hero-stats strong {
    font-size: 1.8rem;
    color: var(--main-color);
}

.about {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding: 2rem 5%;
    background: linear-gradient(to top, var(--body-bg), #a52a2a40);
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
}

.about img {
    border-radius: 1rem;
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.4);
}

.about h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.about p {
    margin-bottom: 1rem;
    font-size: 0.9rem;
}

.about article {
    max-width: 600px;
    color: var(--text-color);
    margin-bottom: 2rem;
}

.about ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.cta {
    padding: 5%;
    text-align: center;
    background: linear-gradient(135deg, var(--main-color), #8E4040 );
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
}

.cta h2 {
    font-size: 2.4rem;
    color: #fff;
    margin-bottom: 0.4rem;
}

.cta p {
    color: rgba(255, 255, 255, 0.8);
    font-size: 0.9rem;
    margin-bottom: 1rem;
}

@media (max-width: 768px) {
    html,
    body {
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    html,
    body {
        font-size: 12px;
    }
}
